parameters:
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '/Method Nedac\\SyliusOrderNowPlugin\\Form\\Type\\AddToCartType::buildForm\(\) has parameter \$builder with no value type specified in iterable type Symfony\\Component\\Form\\FormBuilderInterface./'
        - '/Method Nedac\\SyliusOrderNowPlugin\\Form\\Type\\AddToCartType::buildForm\(\) has parameter \$options with no value type specified in iterable type array./'
        - '/Method Nedac\\SyliusOrderNowPlugin\\DependencyInjection\\NedacSyliusOrderNowExtension::load\(\) has parameter \$config with no value type specified in iterable type array./'
